updates:
  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    target-branch: "main"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    
